.info {
    padding: 0 10%;

    .content {
        display: flex;
        justify-content: space-around;
        width: 100%;

        .table { 
            width: 100%;
        
            table {
                border-collapse: collapse;
                font-family: Arial;
                width: 50%;

                tr, th {
                    border: 1px solid #707070;
                }
            }
        }
    }
}