<div class="info block">

	<div class="block-title">Dados</div>
	<div class="block-subtitle">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	</div>

	<div class="content">
		<div class="table">
			<table border="1" width="100%">
				<thead>
					<tr>
						<th></th>
						<th>Nome</th>
						<th>Sobrenome</th>
						<th>Participação</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Carlos</td>
						<td>Moura</td>
						<td>5%</td>
					</tr>
					<tr>
						<td>1</td>
						<td>Carlos</td>
						<td>Moura</td>
						<td>5%</td>
					</tr>
					<tr>
						<td>1</td>
						<td>Carlos</td>
						<td>Moura</td>
						<td>5%</td>
					</tr>
					<tr>
						<td>1</td>
						<td>Carlos</td>
						<td>Moura</td>
						<td>5%</td>
					</tr>
					<tr>
						<td>1</td>
						<td>Carlos</td>
						<td>Moura</td>
						<td>5%</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="graph">
			<canvas id="chart-info" width="300" height="300"></canvas>
			<div id="chart-info-legend" class="chart-info-legend"></div>
		</div>
	</div>
	
</div>