<div class="service">

	<div class="service-header">
		<span class="title">
			Serviços
		</span>
		<span class="subtitle">
			Lorem ipsum dolor sit amet, consectetur adipiscing eli
		</span>
	</div>

	<div class="service-grid">

		<div class="service-item">
			<div class="img">
				<img src="/assets/img/service-img1.png">
			</div>
			<div class="content">
				<span class="header">RHONCUS PURUS IN</span>
				<p>Donec sit amet erat ut quam dignissim bibendum porta enim, ut acor tempor felis diam non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
			</div>
		</div>

		<div class="service-item">
			<div class="img">
				<img src="/assets/img/service-img3.png">
			</div>
			<div class="content">
				<span class="header">mattis augue tristique</span>
				<p>Donec sit amet erat ut quam dignissim bibendum porta enim, ut acor tempor felis diam non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
			</div>
		</div>

		<div class="service-item">
			<div class="img">
				<img src="/assets/img/service-img2.png">
			</div>
			<div class="content">
				<span class="header">elementum lacus vitae</span>
				<p>Donec sit amet erat ut quam dignissim bibendum porta enim, ut acor tempor felis diam non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
			</div>
		</div>

		<div class="service-item">
			<div class="img">
				<img src="/assets/img/service-img4.png">
			</div>
			<div class="content">
				<span class="header">Mauris bibendum odio ligula</span>
				<p>Donec sit amet erat ut quam dignissim bibendum porta enim, ut acor tempor felis diam non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
			</div>
		</div>

	</div>
</div>