.service {
    padding: 0 10%;

    .service-grid {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;

        .service-item {
            display: flex;
            width: 80%;
            margin: 15px 0;

            .img {
                padding: 0 14px;
            }

            .content {

                .header {
                    font-size: 16px;
                    text-transform: uppercase;
                }

                p {
                    font-size: 13px;
                    color: #7b7b7b;
                    line-height: 20px;
                }
            }
        }
    }
}