<div class="explanation block">

	<div class="block-title">Como Funciona?</div>

	<div class="section">
		
		<div class="item">
			<img src="assets/img/icon1.png">
			<span class="title">Passo 1</span>
			<span class="subtitle">
				Donec posuere, libero in tincidunt consectetur, velit diam lacinia magna, ut dignissim ligula est at erat.
			</span>
		</div>
		
		<div class="item">
			<img src="assets/img/icon2.png">
			<span class="title">Passo 2</span>
			<span class="subtitle">
				Donec posuere, libero in tincidunt consectetur, velit diam lacinia magna, ut dignissim ligula est at erat.
			</span>
		</div>

		<div class="item">
			<img src="assets/img/icon3.png">
			<span class="title">Passo 3</span>
			<span class="subtitle">
				Donec posuere, libero in tincidunt consectetur, velit diam lacinia magna, ut dignissim ligula est at erat.
			</span>
		</div>
		
		<div class="item">
			<img src="assets/img/icon4.png">
			<span class="title">Passo 4</span>
			<span class="subtitle">
				Donec posuere, libero in tincidunt consectetur, velit diam lacinia magna, ut dignissim ligula est at erat.
			</span>
		</div>

	</div>

	<div class="shapes">

		<div class="shape up">
			<img src="assets/img/shape-up.png">
		</div>
		
		<div class="shape down">
			<img src="assets/img/shape-down.png">
		</div>
	
		<div class="shape up">
			<img src="assets/img/shape-up.png">
		</div>

	</div>

	<button class="btn btn-green">Leia Mais</button>
	
</div>