<div class="slider">

	<div class="w3-display-container">
		<div class="w3-display-container mySlides w3-animate-left">
			<img src="assets/img/slide-img1.png">
			<div class="slide-container slide-1">
				<span class="title">Loren ipsun dolor</span>
				<span class="text">
					Aenean ultrices ultricies vulputate. Donec ut pulvinar ipsum. Maecenas tincidunt lorem at enim pharetra hendrerit vivamus.
				</span>
			</div>
		</div>

		<div class="w3-display-container mySlides w3-animate-left">
			<img src="assets/img/slide-img2.png">
			<div class="slide-container slide-2">
				<span class="title">Loren ipsun dolor</span>
				<span class="text">
					Aenean ultrices ultricies vulputate. Donec ut pulvinar ipsum. Maecenas tincidunt lorem at enim pharetra hendrerit vivamus.
				</span>
				<button class="btn-slide btn-blue">Leia mais</button>
			</div>
		</div>

		<div class="w3-display-container mySlides w3-animate-left">
			<img src="assets/img/slide-img3.png">
			<div class="slide-container slide-3">
				<span>AEnc donec ut en</span>
				<span>tempor accor ol</span>
				<span>eges yaci</span>
			</div>
		</div>

		<button class="slide-button slide-display-left" (click)="plusDivs(-1)">&#10094;</button>
		<button class="slide-button slide-display-right" (click)="plusDivs(1)">&#10095;</button>

		<div class="elipse">
			<button class="btn-elipse" (click)="currentDiv(1)"></button> 
			<button class="btn-elipse" (click)="currentDiv(2)"></button> 
			<button class="btn-elipse" (click)="currentDiv(3)"></button> 
		</div>
	</div>
	
</div>