<div class="about">

	<div class="img">
		<img src="assets/img/about.png">
	</div>
	<div class="content">
		<span class="header">
			Sobre Nós
		</span>
		<span class="description">
			<span class="text">
				In sit amet mi sollicitudin, maximus risus sed, eleifend turpis. Ut aliquet fermentum leo eu vestibulum. Aliquam vitae iaculis neque. Proin vitae quam ac lectus fermentum viverra. Vestibulum eu sem lobortis, rhoncus purus in, mattis augue. Proin nec tempor ipsum. Sed eu libero at arcu dictum rhoncus. Vestibulum at tempus felis. Vestibulum mattis tincidunt eleifend.In sit amet mi sollicitudin, maximus risus sed, eleifend turpis. Ut aliquet fermentum leo eu vestibulum. Aliquam vitae iaculis neque. Proin vitae quam ac lectus fermentum viverra. Vestibulum eu sem lobortis, rhoncus purus in, mattis augue.
			</span>
			<span class="graph">
				<div class="item">graph1</div>
				<div class="item">graph2</div>
				<div class="item">graph3</div>
			</span>
		</span>
	</div>
	
</div>